/build/
/dist/
/venv/
/.idea/
/db_model_generator.egg-info/
data.db
token
/db_model_generator/test
/db_model_generator/old
/db_model_generator/test/config.json
/db_model_generator/test/
*.pyc
.env
/test
/db_model_generator/db_model_generator.egg-info
pyproject_.toml
/archive/
